/* Basic browser reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-y: scroll;
}

a,
button {
  cursor: pointer;
}

.home {
  background-image: url(https://cdn.wallpapersafari.com/43/63/E3iRV7.png);
  background-position: center;
  height: 95vh;
  padding: 20vh;
}

.nav {
  background-color: #17408b;
}
