.home {
  background-image: url(https://cdn.wallpapersafari.com/43/63/E3iRV7.png);
  background-position: center;
  text-align: center;
  height: 95vh;
  padding: 20vh;
}

.header {
  font-size: 2rem;
  font-weight: bolder;
}
